{% extends 'base.html' %}
{% block title %} Change {{ request.user.get_full_name }} password {% endblock %}

{% block body %}
    <div class="change_password">
        <div class="container">
            <div class="change-form">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {% for errors in field.errors %}
                            <span>{{ errors }}</span>
                        {% endfor %}
                        <div class="form-group">
                            <label for="{{ field.label }}">{{ field.label }}</label>
                            <div>{{ field }}</div>
                        </div>
                    {% endfor %}
                    <input class="btn btn-success" type="submit" value="Change Now" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}